/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Pattaya&family=Poppins:ital,wght@0,600;1,400&display=swap" rel="stylesheet');

.header-top {
  display: flex;
  margin-top: 0;
  padding-left: 25px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;

  /* flex: 1; */
}

.header-item {
  flex: 1;
  margin: 10px;
  font-family: montserrat;
  font-size: 12px;
}

.header-item {
  font-weight: 700;

}





.image-search-box {
  /* padding-top: 150px;
  padding-bottom: 150px; */
  height: 384px;
  background-color: #FFCBCE;
  background-image: url("../daniel-leone.png");
  background-size: cover;
  /* background-position: -0% 35%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 20px black;
}

.cards-section {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 3%;
}

.card {
  cursor: pointer;
  color: #4F4F4F;
  width: fit-content;
  height: fit-content;
  padding-bottom: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-content {

  position: relative;
}

.card1 {
  width: 945px;
  height: 700px;
  overflow: hidden;
  background-color:white;
  border-radius: 15px;
}


.close-button {
  font-size: 25px;
  border: 0px;
  border-radius: 50%;
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 60%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.popup-content .details .user {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 130px;

}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}

.photoBig {
  margin: 0;
  width: 945px;
  height: 510px;
position: relative;
  /* aspect-ratio: 1; */
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.photo-section{
  position: relative;
}
.copy-btn{
  position: absolute;
  top: 69%;
  left: 10px;
}
.dpbig {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.social {
  font-family: poppins;
  font-weight: 400;
  font-style: italic;
  color: #A7A7A7;
  display: flex;
  margin-left: 50px;

  gap: 10px;
}

.download {
  margin-left: 50px;
}

.tagsection {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Elements wrap to the next line when they exceed the container's width */
  gap: 0px; /* Add space between flex items as needed */
  max-width: 900px; /* Set a maximum width for the container */

}


.tag {
  background-color: #ECECEC;
 margin: 10px;
 padding: 5px;
 font-family: montserrat;
  font-weight: 500;
  font-size: 10px;
  flex: 0 0 calc(33.33% - 20px); /* 33.33% width with a 10px gap (adjust as needed) */
  background-color: #ccc;
  padding: 5px;
  border-radius: 4px;
  
}

.pic {
  display: flex;
}

.nameId {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: row;
}

.likes {
  display: flex;
}

.download {
  font-family: montserrat;
  font-weight: 700;
  font-size: 12.8px;
  gap: 5px;
  margin-right: 10px;
}



.photo1 {
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 482.98px;
  object-fit: cover;
}

.creator-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-section.dp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.dpic {
  object-fit: cover;
}

.creator-section.user {
  padding: 0;
  display: inline-block;
  margin: 0%;
  margin-left: 5px;
}
.tag-heading{
  display: flex;
  flex-direction: row;
  /* margin-left: 15px; */
  font-family: montserrat;
  font-weight: 700;
  font-size: 12px;
}
#nameBig{
  font-family: montserrat;
  font-weight: 700;
  font-size: 14px;
}
#userIdBig{
  font-family: poppins;
  font-weight: 400;
  font-style: italic;
  color:  #A7A7A7;
}
#name {
  font-family: montserrat;
  font-size: 12px;

}

#userId {
  font-family: montserrat;
  font-size: 12px;

}

.creator-section.like {
  margin-left: auto;
  margin-right: 10px;

}


.image-search-box {
  color: white;

  font-family: montserrat;
}

#download {
  font-size: 32px;
  font-weight: 700;
  margin: 0%;
}

#over {
  font-size: 14px;
  font-weight: 500;
  color: #C4C4C4;
}

#like {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 700;


}

#likeicon {
  right: 10px;
  width: 14px;
  height: 14px;

}

.grid-gallery {
  padding: 50px 50px;
}

.photo {
  width: 100%;
  height: 50%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.input-group {
  position: relative;
  color: #C4C4C4;
}

.input-group span {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  word-spacing: 1px;
  font-family: montserrat;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

.input-group2 {
  position: relative;

}

.input-group2 span {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  word-spacing: 1 px;
  color: #C4C4C4;
  font-weight: 500;
  font-size: 12px;
  font-family: montserrat;
  z-index: 1;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #858484;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.7px;
  width: 15.7px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  background-color: #858484;
}

input:checked+.slider {
  background-color: white;
}

input:focus+.slider {
  box-shadow: 0 0 1px #727272;
}

input:checked+.slider:before {
  -webkit-transform: translateX(15.7px);
  -ms-transform: translateX(15.7px);
  transform: translateX(15.7px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  width: 15.7px;
  height: 15.7px;
  top: 1.5px;

}