@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
:root {
 
--body_background: white;
--body_colour: #333333;
--card_background:white;

}
[data-theme='dark']{
  --body_background:#232323;
  --body_colour: white;
  --card_background:#141414;
}
.search2{
  background:  white;
  min-width: 808px;
  min-height: 54px;
  border-radius: 6px;
  border: 0px solid #ebebeb;
}
.input-group{
  right: 15%;
}
.search{
  
  min-width: 419px;
  min-height: 43px;
  border-radius: 6px;
  background:  radial-gradient(ellipse at center, white 45%, #EFEFEF);
  border: 1px solid #ebebeb;
  /* background-color: #FFFFFF; */
}


.name{
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .header-top.page-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 50px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent; 
  cursor: pointer;
  transition: border-color 0.25s;
} */

button:hover {
  border-color: #646cff;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
